*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

    &__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }
    &__item{
        height: 80px;
    }
    &__links{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;

        &:hover{
            color: #f77062;
            transition: all .3s ease;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        width: 100%;
    }
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    height: 100%; width: 100%;
    border: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;

    &:hover{
        background: #4837ff;
        transition: all .3s ease;
    }
}

.main{
    background-color: #141414;

    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: #141414;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
    &__content{

        h1{
            font-size: 4rem;
            background-color: #ff8177;
            background-image: linear-gradient(to top, #ff0b44 0%, #ffb199 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
        h2{
            font-size: 4rem;
            background-color: #ff8177;
            background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }
        p{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 700;
            color: #fff;
        }
    }
    &__btn{
        font-size: 1.2rem;
        background-image: linear-gradient(to top, #ff7062 0%, #fe5196 100%);
        padding: 4px 32px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all .35s;
        outline: none;

        a{
            position: relative;
            z-index: 2;
            color: #fff;
            // text-decoration: none;
        }
        &::after{
            position: absolute;
            content: "";
            top: 0; left: 0; width: 0; height: 100%;
            background: #4837ff;
            transition: all .35s;
            border-radius: 4px;
        }
        &:hover::after{
            width: 100%;
        }
    }
    &__img--container{
        text-align: center;
    }
}

#main__img{
    height: 80%;
    width: 80%;
}

.services{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    h1{
        background-color: #ff8177;
        background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 21%, #cf556c 70%, #b12a5b 100%);
        background-size: 100%;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__card{
        margin: 1rem;
        height: 525px;
        width: 400px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
        rgba(17,17,17,.6) 100%), url("/img/pic3.jpg");
        background-size: cover;
        position: relative;
        color: #fff;

        &:nth-child(2){
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
            rgba(17, 17, 17, .6) 100%), url("/img/pic4.jpg");
        }
        h2{
            position: absolute;
            top: 350px;
            left: 30px;
        }
        p{
            position: absolute;
            top: 400px;
            left: 30px;
        }
        button{
            color: #fff;
            padding: 10px 20px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: #f77062;
            position: absolute;
            top: 440px;
            left: 30px;
            font-size: 1rem;
            cursor: pointer;
        }

        &:hover{
            transform: scale(1.075);
            transition: .2s ease-in;
            cursor: pointer;
        }
    }
}

.footer{

    &__container {
        background: #141414;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .social{

            &__icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 240px; 

                &--link{
                    color: #fff;
                    font-size: 24px;
                }
            }
            &__media{
                max-width: 1000px;
                width: 100%;

                &--wrap{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    max-width: 1000px;
                    margin: 40px auto 0 auto;

                    .website__rights{
                        color: #fff;
                    }
                }
            }
            &__logo{
                color: #fff;
                justify-self: flex-start;
                margin-left: 20px;
                cursor: pointer;
                font-size: 2rem;
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }
        }
    }
    &__links{
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }
    &__link{
        
        &__wrapper{
            display: flex;
        }
        &__items{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 16px;
            text-align: left;
            width: 160px;
            box-sizing: border-box;

            h2{
                margin-bottom: 16px;
                color: #fff;
            }
            a{
                color: #fff;
                margin-bottom: .5rem;

                &:hover{
                    color: #ff8177;
                    transition: .3s ease-out;
                }
            }
        }
    }
}

#footer__logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}





@media screen and (max-width: 960px){
    .navbar{

        &__container{
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }
        &__menu{
            display: grid;
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: absolute;
            top: -1000px;
            opacity: 0;
            transition: all .5s ease;
            height: 50vh;
            z-index: -1;
            background: #131313;

            &.active{
                background: #131313;
                top: 100%;
                opacity: 1;
                transition: all .5s ease;
                z-index: 99;
                height: 50vh;
                font-size: 1.6rem;
            }
        }
        &__toogle{

            .bar{
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all .3s ease-in-out;
                background: #fff;
                display: block;
                cursor: pointer;
            }
        }
        &__item{
            width: 100%;
        }
        &__links{
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }
        &__btn{
            padding-bottom: 2rem;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0 10%;
        // margin-left: 10%;
    }
    #navbar__logo{
        padding-left: 25px;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

        &.is-active .bar:nth-child(2){
            opacity: 0;
        }

        &.is-active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }

        &.is-active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .services{
        height: 100%;

        h{
            font-size: 2rem;
            margin-top: 12rem;
        }
    }

    .footer{

        &__links{
            padding-top: 2rem;
        }
        &__link__wrapper{
            flex-direction: column;
        }
    }
    .social {
        &__media--wrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
            .website__rights {
                padding-top: 1rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main{

        &__container{
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 90vh;
        }
        &__content{
            text-align: center;
            margin-bottom: 4rem;

            h1{
                font-size: 2.5rem;
                margin-top: 2rem;
            }
            h2{
                font-size: 3rem;
            }
            p{
                margin-top: 1rem;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .main{

        &__content{

            h1{
                font-size: 2rem;
                margin-top: 3rem;
            }
            h2{
                font-size: 2rem;
            }
            p{
                margin-top: 2rem;
            }
        }
        &__btn{
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    }
    .services{

        h1{
            font-size: 1.2rem;
        }
        &__card{
            width: 300px;
        }
    }
    .footer__link__items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}